.colaborador {
    width: 17rem;
}

.colaborador .cabecalho {
    background: #F0F0F0;
    border-radius: 0.7rem 0.7rem 0 0;
}

.colaborador img {
    width: 7rem;
    border-radius: 50%;
    position: relative;
    bottom: -3rem;
}

.colaborador .corpo {
    background: #FFFFFF;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.08);
    border-radius: 0rem 0rem 0.7rem 0.7rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.colaborador .corpo h4 {
    color: #6278F7;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.colaborador .corpo h5 {
    font-size: 1.5rem;
    color: #212121;
}