.formulario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 4rem 2rem;
}

.formulario form {
    background: #F7F7F7;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.08);
    border-radius: 1.5rem;
    padding: 2rem 2rem;
    flex: 1;
}

.formulario h2 {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}