.campo-texto {
    margin: 1.5rem 0;
    height: 6.5rem;
}

.campo-texto label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    align-items: center;
    color: #212121;
}

.campo-texto input {
    width: 100%;
    background: white;
    box-shadow: 0.7rem 0.7rem 2rem rgba(0, 0, 0, 0.06);
    border: none;
    font-size: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
}